<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.7.1" targetFramework="net45" />
  <package id="Nancy" version="1.4.4" />
  <package id="Nancy.Hosting.Self" version="0.22" />
  <package id="Nancy.Viewengines.Razor" version="0.22" />
  <package id="NEST" version="1.7.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" />
</packages>