@{
}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Coming soon to Zarjaz Prints : Classic panels and scenes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/img/fistofdredd.jpg" title="Gaze into the fist of Dredd!" alt="Gaze into the fist of Dredd!"/>
            </div>
        </div>

    </div>